@import "./variables.scss";
@import "./mixins.scss";
@import "./multiselect.scss";
@import "components/index.scss";

body {
  font-size: 12px;
  margin: 0;
  background-color: $background-color;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #dddddd;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

.fade-enter-active {
  transition: opacity 0.5s ease-in-out;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.fade-leave-active {
  transition: opacity 0.1s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1f2020;
}
