$background-color: #18191a;
$background-color-grey-1: #262626;
$background-color-grey-2: #414141;
$background-color-nav: #141414;


$primary-color: #5884cb;
$secondary-color: #5c5c5c;

$label-color-white-1: #f1efef;
$label-color-grey-1: #969696;
$label-color-grey-2: #808080;

$success-color: #45A07D;
$danger-color: #C3625E;
$warning-color: #B49646;
